@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --primary: #40e0d0;
  --secondary: #3bd6c6;
  --tertiary: #b3ecec;
  --font: #001a1a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'VT323', monospace;
  color: var(--font);
}

#content-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    'header header'
    'menu-content main'
    'footer footer';
}

/* header */
header {
  grid-area: header;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn {
  display: none;
}

.close-btn {
  display: none;
}

.logo {
  text-align: center;
  grid-area: logo;
}
/* end of header */

section {
  grid-area: menu-content;
  background-color: var(--secondary);
}

main {
  grid-area: main;
  background-color: var(--tertiary);
}

footer {
  grid-area: footer;
  background-color: var(--primary);
}

@media screen and (max-width: 576px) {
  #content-container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }

  header {
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'toggle-btn logo .';
  }

  i {
    cursor: pointer;
  }

  .toggle-btn,
  .close-btn {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  .toggle-btn {
    grid-area: toggle-btn;
    justify-content: center;
  }

  .close-btn {
    justify-content: flex-end;
    margin: 1rem;
  }

  section {
    grid-area: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30%;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.2s;
  }
}

.slide {
  transform: translateX(0%);
  opacity: 1;
}
